@use '../../config/tokens' as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}

@media (max-width: #{$breakpoint-phone}) {
  .container {
    padding: 0 16px;
  }
}
